[user]
	email = scintillavoy@gmail.com
	name = Dongyoung Moon
[init]
	defaultBranch = main
[alias]
	a = add
	aa = add --all
	ai = add -i
	################
	b = branch
	ba = branch --all
	bd = branch --delete
	bD = branch --delete --force
	bm = branch --move
	bM = branch --move --force
	bnm = branch --no-merged
	bnma = branch --all --no-merged
	bnmr = branch --remotes --no-merged
	################
	co = checkout
	cob = checkout -b
	################
	cf = config
	cfl = config --list
	cfll = config --list --local
	cfuser = !git config user.email 'scintillavoy@gmail.com' && git config user.name 'Dongyoung Moon'
	################
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	################
	ccc = clean -xdf
	################
	cl = clone
	################
	c = commit
	ca = commit --all
	cm = commit --message
	cam = commit --all --message
	cd = commit --amend
	cda = commit --amend --all
	cdm = commit --amend --message
	cdam = commit --amend --all --message
	ce = commit --allow-empty
	cem = commit --allow-empty --message
	################
	f = fetch
	fp = fetch --prune
	################
	i = init
	################
	l = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph
	la = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph --all
	lA = !git log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph $(git rev-list -g --all)
	lr = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --reverse
	lg = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph
	lga = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph --all
	lgA = !git log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --graph $(git rev-list -g --all)
	lgr = log --date=format:'%y-%m-%d %H:%M' --format='%C(auto)% D %s %Cgreen%cd %C(auto)%h %C(bold blue)%an' --reverse
	################
	m = merge
	ma = merge --abort
	mc = merge --continue
	mff = merge --ff-only
	mnff = merge --no-ff
	mnffnc = merge --no-ff --no-commit
	ms = merge --skip
	################
	pl = pull
	plff = pull --ff-only
	plnff = pull --no-ff
	################
	ps = push
	psoc = push origin HEAD
	psuoc = push -u origin HEAD
	psd = push --delete
	pst = push --tags
	################
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbd = rebase --reset-author-date
	rbi = rebase --interactive
	rbs = rebase --skip
	################
	rs = reset
	rsl = reset HEAD~
	rss = reset --soft
	rssl = reset HEAD~ --soft
	################
	rst = restore
	rsts = restore --staged
	################
	rmt = remote
	rmta = remote add
	rmtr = remote rm
	rmtv = remote -v
	################
	rv = revert
	rvnc = revert --no-commit
	################
	s = status
	################
	st = stash
	sta = stash apply
	std = stash drop
	stl = stash list
	stp = stash pop
	stps = stash push --include-untracked
	stpss = stash push --staged
	sts = stash show
	################
	t = tag
	td = tag --delete
